:root {
    --primary-dark: #691e73;
    --primary: #2e759b;
    --primary-light: #137dff;
    
    --secondary-dark: #4d5b17;
    --secondary: #34495e;
    --secondary-light: #CDD26A;
    
    --accent: #FFCC00;
    
    --background: #F5F5F5;
    --surface: #FFFFFF;
    --text-primary: #f4f4f4;
    --text-secondary: #666666;
    --text-disabled: #999999;
    --border-color: #CCCCCC;
    
    --btn-primary: #ff7400; 
    --btn-secondary: #ff73006c; 
    
    --success: #4CAF50;
    --error: #F44336;
}